@import "common";

body{
    background: #f6f9fc;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top: 50px;
    box-sizing:border-box;
}

.canvas{
    width:700px;
    height:700px;
    background-color:#fff;
    border-radius:15px;
    box-shadow:0 4px 6px rgba(50,50,93,0.11),0 1px 3px rgba(0,0,0,0.08);
}

.controls{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items:center;

    .js_controls_range {
        margin-bottom:20px;
        >input{
            all: unset;
            background: #bcbebf;
            height: 5px;
            border-radius: 2.5px;
        }
    }

    .js_control_btn{
        margin-bottom:30px; 

        >button{
            all:unset;
            cursor:pointer;
            background-color:#fff;
            padding:5px 20px;
            width:80px;
            text-align:center;
            border-radius:10px;
            box-shadow:0 4px 6px rgba(50,50,93,0.11),0 1px 3px rgba(0,0,0,0.08);
            border:1px solid rgba(0,0,0,0.2);
            color:rgba(0,0,0,0.7); 
            text-transform: uppercase;
            font-weight:600;
            font-size:12px;

            &:active{
                transform: scale(0.98);
            }
        }
    }

    .js_control_color {
        display: flex;
        padding-bottom:50px;

        .control_color{
            width:50px;
            height:50px;
            border-radius:25px;
            cursor: pointer;
            box-shadow:0 4px 6px rgba(50,50,93,0.11),0 1px 3px rgba(0,0,0,0.08);
        }
    }
}